name: Build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
  pull_request:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04
    services:
      minio:
        image: fclairamb/minio-github-actions
        # env:
        #  MINIO_COMMAND: server
        ports:
          - 9000:9000

    strategy:
      matrix:
        go: [ 1.18, 1.17, 1.16 ]
        include:
          - go: 1.18
            lint: true
            test: true
  
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v6

      # Running golangci-lint
      - name: Run golangci-lint
        if: matrix.lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v1.43

      # Install Go
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Build
        run: go get -v && go build -v ./...

      - name: Test
        if: matrix.test
        env:
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          GOOGLE_TOKEN: ${{ secrets.GOOGLE_TOKEN }}
        run: |
          apt-get update && apt-get install gcc -y
          go test -parallel 20 -v -race -coverprofile=coverage.txt -covermode=atomic ./... -bench=./...
          bash <(curl -s https://codecov.io/bash)

  # For github to have a unique status check name
  build-status:
    needs: build
    runs-on: ubuntu-20.04
    steps:
      - run: echo 'All good'
