name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2

      - uses: actions/setup-go@v6.2.0
        with:
          go-version: "1.25"

      - uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: v2.8

  test:
    runs-on: ubuntu-24.04
    services:
      minio:
        image: fclairamb/minio-github-actions
        ports:
          - 9000:9000
    steps:
      - uses: actions/checkout@v6.0.2

      - uses: actions/setup-go@v6.2.0
        with:
          go-version: "1.25"

      - name: Run tests
        env:
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          GOOGLE_TOKEN: ${{ secrets.GOOGLE_TOKEN }}
        run: go test -race -coverprofile=coverage.out ./...

      - name: Upload coverage
        uses: codecov/codecov-action@v5.5.2
        with:
          files: coverage.out
        continue-on-error: true

  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2

      - uses: actions/setup-go@v6.2.0
        with:
          go-version: "1.25"

      - name: Build
        run: go build -v ./...
